@import '../../styles/variables';
main {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  .left-layout {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 3rem;
    width: 10%;
    height: 100%;
    z-index: 5;
  }
  .right-layout {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 3rem;
    width: 10%;
    height: 100%;
  }
  .body-layout {
    width: 100%;
  }
  #curve {
    position: absolute;
    bottom: 0;
    fill: $textDark;
  }
  #curve-reverse {
    position: absolute;
    top: 0;
    fill: $textDark;
  }
}

@media (max-width: $lg) {
  .left-layout {
    display: none;
  }
  .right-layout {
    display: none;
  }
  .body-layout {
    text-align: center;
    padding: 0 2rem !important;
  }
}
