@import '../../styles/variables';
@import '../../styles/mixins';

.nav-menu {
  box-shadow: $navbarShadow;
  position: fixed;
  width: 100%;
  z-index: 55555;
  background: $bodyColor;
  .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    max-width: $container;
    margin: auto;

    .nav-links {
      display: flex;
      text-align: center;
      align-items: center;
      gap: 3rem;

      .link {
        color: $textLight;
        cursor: pointer;
        text-decoration: none;
        span {
          color: $textGreen;
        }
        &:hover {
          color: $textGreen;
        }
      }
      .active {
        color: $textGreen;
      }
      button {
        @include buttonStyles(
          $textGreen,
          $borderButtons,
          none,
          $hoverColor,
          100%,
          100%
        );
      }
    }
  }
}
@media (max-width: 767px) {
  .nav-menu {
    .nav-items {
      .nav-links {
        display: none;
      }
    }
  }
}
