@import '../../styles/variables';

footer {
  display: none;
}
@media (max-width: 960px) {
  footer {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
    width: 100%;
    background: #0a192f;
    .footer-links {
      display: flex;
      gap: 1rem;
      font-size: 1.5rem;
    }
  }
}
